.bodyrojo {
    background-color: red;
}

.bodyazul {
    background-color: blue;
}

.bodyrosado {
    background-color: rgb(199, 19, 199);
}
.bodycafe {
    background-color: brown;
}

.bodyamarillo {
    background-color: yellow;
}

.bodynaranja {
    background-color: orange;
}

.bodyverde {
    background-color: green;
}